@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@layer base{
  li {
    @apply pl-10;
    @apply cursor-pointer;
  }
}

/* iframe {
  position: relative;
  width: 50%;
  padding-right: 90%;
  padding-left: 90%;

} */

.desktop-pdf {
    display: none;
}

.mobile-pdf {
    display: grid;
    padding-right: 5%;
}
@media only screen  and (min-width : 768px) {

  .mobile-pdf {
      display: none;
  }

  .desktop-pdf {
      display: block;
      width: 600;
  }
}